		<header>
			<nav class="navbar fixed-top navbar-dark bg-dark" style = "height: 10%; font-family: 'Luxurious Roman', cursive;">
			  <div class="container-fluid">
            	<a class="navbar-brand" href="/">
			    	<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			    	Recomeçar
			  	</a>
				<ul class="nav justify-content-end">
				  <li class="nav-item">
				    <a class="nav-link" href="/newPost">Novo Post</a>
				  </li>
				</ul>			  
				</div>
			</nav>
		</header>